form{
  margin: 1%;
}
.formInput{
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.formInput p{
  margin-right: 13px;
}
.templateButton{
  margin-right: 1% !important;
}
