h1 {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

canvas {
    margin-bottom: 60px;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

#header_text {
    color: lightgrey;
    font-size: 15px;
}

.err_txt {
    font-size: 30px;
    color: #ff0000;
    font-weight: bolder;
    text-align: center;
}
