<a class="houseA" style="text-decoration: none;" href="/config">
  <p class="svg house">⇦</p>
</a>
<div *ngFor="let conf of confs">
  <h1>
    {{conf.name}}
  </h1>
  <ul>
    <li>Countdown: {{convertCountdownToDate(conf.countdown) | date: "HH:mm"}}</li>
    <li>Igniter: {{conf.igniter}}</li>
    <li>Resistance: {{conf.resistance}}</li>
    <li>Use Joy Stick: {{conf.useJoyStick}}</li>
    <li>Use Video: {{conf.useVideo}}</li>
  </ul>
  <button (click)="useConf(conf)">Use this config</button>
</div>
