body{
  background: linear-gradient(0deg, #EBEBEB 0%, rgba(235, 235, 235, 0) 100%);
}
p,h1{
  color: white;
}
form{
  margin-top: 7vh;
}
h1{
  font-size: 350%;
}
p{
  font-size: 200%;
}

input{
  margin-left: 2vh;
  padding: 1vh;
  font-size: initial;
}
.buttons{
  padding-top: 3vh;
}
.btn {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  text-decoration:none;
  font-family:Arial;
  box-shadow:inset #ebebeb 0px 5px 8px -1px,#b8b8b8 0px 5px 0px;
  o-box-shadow:inset #ebebeb 0px 5px 8px -1px,#b8b8b8 0px 5px 0px;
  -moz-box-shadow:inset #ebebeb 0px 5px 8px -1px,#b8b8b8 0px 5px 0px;
  -webkit-box-shadow:inset #ebebeb 0px 5px 8px -1px,#b8b8b8 0px 5px 0px;
  background:#e6e6e6;
  background:-o-linear-gradient(90deg, #e6e6e6, #d1d1d1);
  background:-moz-linear-gradient( center top, #e6e6e6 5%, #d1d1d1 100% );
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #d1d1d1) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#d1d1d1');
  background:-webkit-linear-gradient(#e6e6e6, #d1d1d1);
  background:-ms-linear-gradient(#e6e6e6, #d1d1d1);
  background:linear-gradient(#e6e6e6, #d1d1d1);
  text-indent:0px;
  line-height:60px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  text-align:center;
  vertical-align:middle;
  display:inline-block;
  font-size:50px;
  color:#6b6b6b;
  padding:12px;
  margin: 0 3vh 0 3vh ;
  text-shadow:#c7c7c7 0px 1px 0px;
  border-color:#ffffff;
  border-width:0px;
  border-style:solid;
}

.btn:active {
  box-shadow:inset #ebebeb 0px 5px 8px -1px,#b8b8b8 0px 0 0px;
  o-box-shadow:inset #ebebeb 0px 5px 8px -1px,#b8b8b8 0px 0 0px;
  -moz-box-shadow:inset #ebebeb 0px 5px 8px -1px,#b8b8b8 0px 0 0px;
  -webkit-box-shadow:inset #ebebeb 0px 5px 8px -1px,#b8b8b8 0px 0 0px;
  position:relative;
  top:5px
}

.btn:hover {
  background: #d1d1d1;
  background: -o-linear-gradient(90deg, #d1d1d1, #e6e6e6);
  background: -moz-linear-gradient(center top, #d1d1d1 5%, #e6e6e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1d1d1), color-stop(1, #e6e6e6));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#e6e6e6');
  background: -webkit-linear-gradient(#d1d1d1, #e6e6e6);
  background: -ms-linear-gradient(#d1d1d1, #e6e6e6);
  background: linear-gradient(#d1d1d1, #e6e6e6);
}
.checkBtn{
  font-size: 30px;
  height: 50px;
  width: 50px;
  margin: 0 1%;
  padding: 0;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}
.yes{
  background-color: lawngreen;
  -webkit-animation-name: yes;
  -moz-animation-name: yes;
  -o-animation-name: yes;
  animation-name: yes;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border: 0px;
}

.highlightBtn {
  opacity: .5;
  -o-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -webkit-animation: none !important;
  animation: none !important;
}

.no{
  background-color: orangered;
  -webkit-animation-name: red;
  -moz-animation-name: red;
  -o-animation-name: red;
  animation-name: red;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border: 0px;
}

@-webkit-keyframes yes {
  0% {box-shadow: 0px 0px 8px rgba(0, 255, 0, 0.7);}
  100% {box-shadow: 0px 0px 22px rgba(0, 255, 0, 1);}
}
@-moz-keyframes yes {
  0% {box-shadow: 0px 0px 8px rgba(0, 255, 0, 0.7);}
  100% {box-shadow: 0px 0px 22px rgba(0, 255, 0, 1);}
}
@-o-keyframes yes {
  0% {box-shadow: 0px 0px 8px rgba(0, 255, 0, 0.7);}
  100% {box-shadow: 0px 0px 22px rgba(0, 255, 0, 1);}
}
@keyframes yes {
  0% {box-shadow: 0px 0px 8px rgba(0, 255, 0, 0.7);}
  100% {box-shadow: 0px 0px 22px rgba(0, 255, 0, 1);}
}

@-webkit-keyframes red {
  0% {box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.7);}
  100% {box-shadow: 0px 0px 22px rgb(255, 0, 0);}
}
@-moz-keyframes red {
  0% {box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.7);}
  100% {box-shadow: 0px 0px 22px rgb(255, 0, 0);}
}
@-o-keyframes red {
  0% {box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.7);}
  100% {box-shadow: 0px 0px 22px rgb(255, 0, 0);}
}
@keyframes red {
  0% {box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.7);}
  100% {box-shadow: 0px 0px 22px rgb(255, 0, 0);}
}



.svg{
  margin: 2vh 0 0 2vh;
}
.houseA{
  position: absolute;
  top: 2vh;
}
.house{
  display:inline;
  font-size: 55px;
  color: #4fc44f;
  -webkit-animation-name: pulseText;
  -moz-animation-name: pulseText;
  -o-animation-name: pulseText;
  animation-name: pulseText;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
