canvas {
  margin-bottom: 60px;
  background-color: white;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}
